.product__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 20px;
  .product__card {
    width: 260px;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 20px 5px 20px 5px;
    transition: 0.3s;
    .product__img {
      width: 100%;
      height: 288px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px 5px 20px 5px;
        transition: 0.3s;
      }
    }
    .product__heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      margin: 10px 0;
      .product__title {
        font-size: 18px;
        font-weight: 600;
      }
      .product__price {
        font-size: 20px;
        font-weight: 600;
        color: #7000ff;
      }
    }
    .product__rating {
      display: flex;
      align-items: center;
      gap: 5px;
      margin: 5px 0;
      .product__star {
        color: #7000ff;
      }
    }
    .product__desc {
      font-size: 14px;
      line-height: 20px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
    .btns {
      display: flex;
      align-items: center;
      gap: 20px;
      justify-content: center;
      margin-top: 20px;
      button {
        padding: 8px 30px;
        border-radius: 5px;
        border: 1px solid #882bff;
        color: #7000ff;
        font-size: 16px;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          background: #7000ff;
          color: #fff;
        }
        &:active {
          transform: scale(0.9);
        }
        &:disabled:active {
          transform: scale(1);
        }
        &:disabled {
          opacity: 0.5;
        }
      }
    }
    &:hover {
      box-shadow: 4px 4px 10px #0002;
      .product__img {
        img {
          transform: scale(1.02);
        }
      }
    }
  }
}
